body {
	background-color: rgb(241, 255, 240);
    font-family: sans-serif;
    text-align: center;
}
#titulo {
	font-family: 'Tilt Prism', cursive;
	color: darkgreen;
    font-size: 3em;
}
#tabuleiro {
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pilha {
    margin: 0.5em;
    display: flex;
    justify-content: center;
}
.palito {
	border-radius: 5px;
    width: 1em;
    height: 4em;
    background-color: rgb(206, 142, 4);
    margin: 0.5em;
}
#jogador {
    font-size: 1.7em;
    margin: 0.5em;
}
input[type="number"] {
    width: 3em;
}

#obj{
	
	margin: 15px;
}

#jogar{
	border-radius: 5px;
	background-color: rgb(221, 10, 228);
	font-size: 1.4em;
	margin: 15px;
}

#novo-jogo{
	border-radius: 5px;
	background-color: rgb(10, 213, 228);
	font-size: 1.4em;
}

#pilha{
	font-size: 1em;
}

#objetos{
	font-size: 1em;
}

.botoes{
    display: inline;
}

